body{
    background: #D4E6F1;
}

#Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Container form{
    padding: 20px 30px;
    margin-bottom: 30vh;    
    max-width: 95%;
    width: 450px;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.4);
    border: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px 0 rgb(0 0 0 / 2%), 0px 6px 20px 0 rgb(0 0 0 / 2%);
}

#FormHead{
    text-align: center;
    margin-bottom: 20px;
}

#FormHead img{
    width: 150px;
}

.Field{
    margin-top: 15px;
}

.Field label{
    font-size: 18px;
    color: var(--Font-Color);
}

.Field .Input{
    margin-top: 5px;
    position: relative;
}

.Field .Input input{
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border: none;
    border-radius: 3px  ;
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.Field .Input i{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 20px;
    color: lightgray;
    transform: translateY(-50%);
    cursor: pointer;
}

#LoginBtn{
    width: 100%;
    height: 45px;
    font-size: 20px;
    font-weight: 500;
    color: var(--White-Color);
    background: var(--Main-Color);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

#LoginBtn:hover{
    box-shadow: var(--Second-Main) 0px 1px 4px, var(--Second-Main) 0px 0px 0px 3px;
}


#LoginBtn:active{
    transform: scale(0.98);
}

@media (max-width: 700px){
    #Container form{
        padding: 20px 20px;
    }   
    
    #LoginBtn, .Field .Input i{
        cursor: default;
    }

    #Container form{    
        margin-bottom: 0;  
        margin-bottom: 100px;
    }
    
}