#Gallery-Page{
    width: 1400px;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 0 30px;
    margin-bottom: 180px;
}

#Gallery-Photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#Gallery-Photo img{
    width: 100%;
    border: 2px solid var(--Main-Color);
    border-radius: 3px;
}

.Photo{
    width: 400px;
    max-width: 100%;
    margin: 10px;
    background: var(--White-Color);
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.Photo:hover{
    box-shadow: #6666ff4b 0px 5px 15px;
}

.Photo .Details{
    padding: 0 15px 5px;
}

.Details .Desc{
    font-size: 16px;
    font-weight: 500;
    color: var(--Para-Color);

}

#MoreImgBtn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#LoadMoreImg{
    padding: 8px 60px;
    font-size: 20px;
    border: none;
    background: var(--Main-Color);
    color: var(--White-Color);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#LoadMoreImg:active{
    transform: scale(0.97);
}


@media (max-width: 920px){
    .Photo{
        width: 300px;
    }
    
    .Photo:hover{
        box-shadow: unset;
    }
    #LoadMoreImg{
        cursor: default;
    }
}


@media (max-width: 700px){

    .Photo{
        width: 100%;
    }
    #Gallery-Page{
        margin-top: 10px;
        padding: 0 0;
    }    

    .Details .Desc{
        font-size: 15px;
    }

}