#Main-Forget{
    margin: auto;
    width: 1000px;
    max-width: 100%;
    padding: 0 20px;
}

#Forget-1{
    max-width: 100%;
    width: 500px;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    background: var(--Light-Blue);
    border: 1px solid var(--First-Color);
    text-align: center;
    border-radius: 3px;
}

#Forget-1 h2{
    font-size: 33px;
    padding-bottom: 30px;
    color: var(--Font-Color);

}

#Forget-1 input{
    width: 100%;
    outline: none;
}

#Forget-1 input:first-child{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid var(--White-Color);
    color: var(--Font-Color);
    background: rgba(255, 255, 255, 0.1);
}

#Forget-1 input:last-child{
    margin-top: 10px;
    padding: 10px 0;
    font-size: 19px;
    border: none;
    color: var(--White-Color);
    border-radius: 2px;
    background: var(--First-Color);
    cursor: pointer;

}


@media (max-width: 500px){
    #Forget-1 h2{
        font-size: 25px;
    }
    #Forget-1{
        padding: 20px;
    }
    #Forget-1 input:last-child{
        cursor: default;
    }
}